@{
    ViewData["Title"] = "Azure Workshop Sample";
}

<h2>Azure Workshop Sample</h2>

<form action="/Home/Upload" method="post" enctype="multipart/form-data">
    <input type="file" name="formFile" />
    <br />
    <input type="submit" value="Send" />
</form>